#title {
    background-color: #3B79CC;
    color: #f7f7f7;
}

a {
    // color: #212529;
    text-decoration: none;
}

.btn-group {
    a {
        color: #fff;
        display: flex;
    }

    fa-icon {
        margin-right: 6px;
    }
}

.content__card {
    padding: 24px;
    background: white;
    margin: 16px;
}