<div class="container-fluid"
     style="padding:0;">
    <div class="landing__header">
        <div class="row justify-content-center">
            <div class="col landing__content_container">
                <h1>Looking for a developer?</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col landing__content_container">{{landingMessage}}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col landing__content_container email"
                 placement="right"
                 tooltip="Send me an email!"
                 [delay]="400">
                <a href="mailto: kari.swarthout@gmail.com">Let's Chat</a>
            </div>
        </div>
    </div>
</div>