.heading {
    color: #fff;
    margin: 24px;
    // text-align: left;

    h5 {
        font-size: 2em;
        margin-top: 16px;
    }
}

.about__container {
    padding: 24px;
    background: #ffffff;
    margin: 24px;
    border-radius: 5px;
}