<div class="container-fluid"
     style="margin-top: 55px;">
    <div class="row elevation-z6"
         style="background: #3F51B5;">
        <div class="col heading">
            <h5>More about me...</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-10 about__container elevation-z6">
            <h6>My Programming Journey</h6>
            <hr>
            <p>
                After earning a BA in Communication in December 2012, I moved to Seattle, WA where I spent a few years
                working in sales and advertising. I was first introduced to coding, by chance, when some helpful
                coworkers showed me a few tricks I could use to automate my work tasks. My interest was sparked. If a
                few simple statements could have such an effect on my productivity, what else could I do with code?
                <br>
                <br>
                Eager for more, I began taking introductory programming courses at a local community college each day
                after work. My interest grew, and in 2015 I decided I wanted to pursue programming professionally. Over
                the next year, I worked to satisfy degree requirements, and was admitted to North Seattle College’s
                Application Development degree program, beginning in the fall of 2016. The program instilled CS
                concepts, emphasizing the application development process by focusing on three main areas: web, mobile,
                and cloud technologies. I completed my studies in May of 2018, earning a BAS in Application Development.
                <br>
                <br>
                During my time in school, I worked on various client projects coordinated by the degree program, and
                completed an internship with a small software company working on cost accounting integrations for
                Microsoft Dynamics GP. I was kept on as a developer when my internship completed, and in the summer of
                2018, I relocated to Taiwan with my husband, and continued with the same company remotely. In Taiwan, I
                began teaching high school computer science part-time, in addition to my remote work.

            </p>
        </div>
    </div>
</div>