.heading {
    color: #fff;
    margin: 24px;
    margin-top: 50px;
    max-width: 400px;

    h5 {
        font-size: 2em;
    }
}

.contact__links {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    a {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
    }
}