@import '../../styles.scss';
@import '../../assets/styles/elevation.scss';

.card {
    @include mat-elevation(15);
    // height: 375px;
}

.card-body {
    padding: 36px;
    overflow: hidden;

    h5 {
        text-transform: uppercase;
        color: #3f51b5;
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: .005em;
    }

    h6 {
        color: #797878 !important;
        font-size: .92em;
        font-weight: 400;
        text-transform: capitalize;
    }
}

.card-text {
    font-size: .9em;
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbars(10px, #b9b9b9, #f1f1f1);
}

.action__container {
    display: flex;
    flex-direction: column;

    a {
        margin-top: 8px;
    }
}